{% extends "base.html" %}
{% block content %}
<div class="container">
{% for u in posts %}
  

<div class="col-md-12">
<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
  <div class="col p-4 d-flex flex-column position-static">
    <strong class="d-inline-block mb-2 text-primary-emphasis">{{u.category}}</strong>
    <h3 class="mb-0">{{u.title|truncatechars:"22"}}</h3>
    <div class="mb-1 text-body-secondary">{{u.date|date:"M d, Y"}}</div>
    <p class="card-text mb-auto">{{u.content|safe|truncatechars:"110"}}</p>
    <a href="{% url 'post_view' u.slug %}" class="icon-link gap-1 icon-link-hover stretched-link">
      Continue reading
      <svg class="bi"><use xlink:href="#chevron-right"/></svg>
    </a>
  </div>
  <div class="col-auto d-none d-lg-block">
    
    <img src="{{u.featured_img.url}}" width="200" height="250">
  </div>
</div>
</div>
{% endfor %}
</div>
{% endblock content %}