{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<style>
    html,
body {
  height: 100%;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>
<main class="form-signin w-100 m-auto">
    <form method="post">
      {% csrf_token %}
      <img class="mb-4" src="{% static 'img/logo.png' %}" alt="" width="72" height="77">
      <h1 class="h3 mb-3 fw-normal">Forgot Password</h1>
      
      <div class="form-floating">
        {% render_field form.new_password1 class="form-control"  id="floatingInput" placeholder="Password" %}
        <label for="floatingInput">Password</label>
      </div> 
      <div class="form-floating">
        {% render_field form.new_password2 class="form-control"  id="floatingInput" placeholder="Confirm Password" %}
        <label for="floatingInput">Confirm Password</label>
      </div> 
     
      
      
     <br>
      
      <button class="btn btn-primary w-100 py-2" type="submit">Reset Password</button>
     
    </form>
    
    <p>
      Didn't have a Account <a href="{% url 'signup' %}">Create Account</a> 
    </p>
  </main>

{% endblock content %}