{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
    html,
body {
  height: 100%;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>
<main class="form-signin w-100 m-auto">
    <form method="post">
      {% csrf_token %}
      <img class="mb-4" src="{% static 'img/logo.png' %}" alt="" width="72" height="77">
      <h1 class="h3 mb-3 fw-normal">Forgot Password</h1>
      
        <p>Your Password Jass Been Changed Succesfully!</p>
        
      
      <!-- <button class="btn btn-primary w-100 py-2" type="submit">Reset Password</button> -->
     
    </form>
    
    <p>
      Didn't have a Account <a href="{% url 'signup' %}">Create Account</a> 
    </p>
  </main>

{% endblock content %}